$background-header: teal;
$background-main: white;
$background-footer: rgb(112, 112, 112);
$background-card: grey;
$list-line: #333;
$font-light: rgb(184, 184, 184);
$contrast: orange;
$link-color: darkblue;
$link-visited: midnightblue;
$link-hover: #ffcc00;

