@use "../assets" as *;

.footer {
    background-color: $background-footer;
    &__header {
        text-align: center;
    }

    &__icon {
        fill: black;
    }

    &__list {
        margin: 0;
    }

    &> .container {
        margin-bottom: 0;
        padding-bottom: 10px;
    }
}