@use "../assets" as *;

.footer {
    background-color: $background-footer;
    
    &__header {
        text-align: center;
        margin-top: 0;
    }

    &__icon {
        fill: black;
    }

    &__list {
        margin: 0;
    }

    &> .container {
        margin-bottom: 0;
        padding: 15px 0;
    }
}